<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Equipes</title>
</head>
<body>
    <h1>Cadastrar de Equipes</h1>
    <form action="../Controller/controller_equipes.php" method="POST">
        <label for="nome_da_equipe">Nome da Equipe:</label>
        <input type="text" name="nome_da_equipe" required><br>

        <label for="nome_do_voluntario">Nome do Voluntário Lider :</label>
        <input type="text" name="nome_do_voluntario_lider" required><br>

        <label for="nome_do_voluntario">Nome do 1º Voluntário:</label>
        <input type="text" name="nome_do_voluntario_1" required><br>
        
        <label for="nome_do_voluntario">Nome do 2º Voluntário:</label>
        <input type="text" name="nome_do_voluntario_2" required><br>

        <label for="nome_do_voluntario">Nome do 3º Voluntário:</label>
        <input type="text" name="nome_do_voluntario_3" required><br>

        <label for="nome_do_voluntario">Nome do 4º Voluntário:</label>
        <input type="text" name="nome_do_voluntario_4" required><br>

        <label for="nome_do_voluntario">Nome do 5º Voluntário:</label>
        <input type="text" name="nome_do_voluntario_5" required><br>

        
        <input type="submit" value="Cadastrar" name="acao">
    </form><br>
    <form action="perfil_usuario.php">
        <input type="submit" value="Voltar"><br>
    </form>
</body>
</html>
