<!DOCTYPE html>
<html>
  <head>
    <title>Cadastrar Equipes</title>
    <script>
      function adicionarVoluntarios() {
        var quantidade = document.getElementById("quantidade").value;
        var container = document.getElementById("voluntarios-container");
        container.innerHTML = "";

        for (var i = 1; i <= quantidade; i++) {
          var label = document.createElement("label");
          label.innerHTML = "Nome do " + i + "º Voluntário:";
          var input = document.createElement("input");
          input.type = "text";
          input.name = "nome_do_voluntario_" + i;
          input.required = true;
          container.appendChild(label);
          container.appendChild(input);
          container.appendChild(document.createElement("br"));
        }
      }
    </script>
  </head>
  <body>
    <h1>Cadastrar de Equipes</h1>
    <form action="../Controller/controller_equipes.php" method="POST">
      <label for="nome_da_equipe">Nome da Equipe:</label>
      <input type="text" name="nome_da_equipe" required /><br />

      <label for="nome_do_voluntario_lider">Nome do Voluntário Líder:</label>
      <input type="text" name="nome_do_voluntario_lider" required /><br />

      <label for="quantidade">Quantidade de Voluntários:</label>
      <input
        type="number"
        id="quantidade"
        name="quantidade"
        required
        onchange="adicionarVoluntarios()"
      /><br />

      <div id="voluntarios-container"></div>

      <input type="submit" value="Cadastrar" name="acao" />
    </form>
    <br />
    <form action="perfil_usuario.php">
      <input type="submit" value="Voltar" /><br />
    </form>
  </body>
</html>
